.signup-container {
    display: flex;
    overflow-x: auto;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.avatar-label {
    cursor: pointer;
    margin: 0 auto;
    margin-top: 2rem;
}

.avatar-input {
    display: none;
}

.avatar,
.loading-icon {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin: auto;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        color: #f9632d;
    }

    100% {
        transform: rotate(360deg);
        color: #008000;
    }
}

.loading-icon {
    animation: rotate 1s linear infinite;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.inputs-container label {
    font-weight: 600;
}

.username,
.email,
.password {
    background-color: transparent;
    padding: 0.5rem 0.5rem;
    border: 1px solid #f9632d;
    border-radius: 0.25rem;
    color: #fff;
    font-size: 1rem;
    outline: none;
}

.form-container p {
    text-align: center;
    font-weight: 600;
}

.login-link {
    cursor: pointer;
    color: #f9632d;
    text-decoration: none;
    margin-left: 0.5rem;
}

.login-link:hover {
    text-decoration: underline;
}
